{%include 'db_user.html'%}
<div class="container" style="margin:0 auto;padding-top:100px;">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h5 class="card-header">Download</h5>
        <div class="card-body">
           
            <form  id="basicform" method="post" enctype="multipart/form-data">{% csrf_token %}
                {% for i in ids  %}
				{% if i.foreign_status == 'level1' %}
				<div class="form-group">
                    <label for="inputUserName">Enter Mother Secret Key</label>
                    <input id="inputUserName" type="text" autocomplete="off" name="prkey" required="required"  class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputUserName">Enter Mother Public Key</label>
                    <input id="inputUserName" type="text" autocomplete="off" name="pkey" required="required"  class="form-control">
                </div>
				{% else %}
				<div class="form-group">
                    <label for="inputUserName">Enter Mother Secret Key</label>
                    <input id="inputUserName" type="text" autocomplete="off" name="prkey" required="required"  class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputUserName">Enter Mother Public Key</label>
                    <input id="inputUserName" type="text" autocomplete="off" name="pkey" required="required"  class="form-control">
                </div>
				<div class="form-group">
                    <label for="inputUserName">Enter Foreign Secret Key</label>
                    <input id="inputUserName" type="text" autocomplete="off"  name="fs" required="required"  class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputUserName">Enter Foreign Public Key</label>
                    <input id="inputUserName" type="text" autocomplete="off" name="fp" required="required"  class="form-control">
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-6 pl-0">
                    </div>
                    <div class="col-sm-6 pl-0">
                        <p class="text-right">
                            <button type="submit" class="btn btn-space btn-primary">Download Decrypted File</button>
                            <button type="reset" class="btn btn-space btn-secondary">Cancel</button>
                        </p>
                    </div>
                </div>
			{% endfor%}
            </form>
        </div>
		 
    </div><br><br>
	{% if messages %}
                {% for i in messages %}
                    <div class="alert alert-success">{{i}}</div>
                {% endfor %}
            {% endif %}
			  {% for i in b %}
					<center><h3>Download File</h3><a href="/media/dec_{{i.file}}" style="font-size:30px;" class="btn btn-danger" target="_blank"><i class="mdi mdi-arrow-down-bold-circle"></i></a>
			  </center>
			  {% endfor %}
</div>
</div>
